---
layout: default
---

<article>
  <article class="body">
    {% if page.author or page.source or page.tags %}
    <section class="header">
      {% comment %} <h1 class="post-title">{{ page.title | escape  }}</h1> {% endcomment %}
      {% if page.author %} <div>By: <strong>{{ page.author }}</strong></div> {% endif %}
      {% if page.source %} <div>Source: <a href="{{ page.source }}">{{ page.source }}</a></div> {% endif %}
      {% if page.tags %} <div> Tags: {% for tag in page.tags %} <strong>{{ tag }}&nbsp;</strong> {% endfor %} </div> {% endif %}
    </section>
    {% endif %}
    <nav class="toc">{% include toc.html html=content h_min=2 h_max=3 class="nav" %} </nav>
    <section class="body"> {{ content }} </section>
  </article>

  {%- assign categories =  site.articles | map: 'categories' | 
  join: ','  | split: ',' | uniq | sort -%}

  <nav><ul>
      {%- for cat in categories -%}
      <li><a href="#misc">{{ cat }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>

  {%- for cat in categories -%}
  <h2><a id="{{cat}}">{{ cat }}</a></h2>
  <ul style="white-space: nowrap">
    {%- for article in site.articles -%}
    {%- if article.categories contains cat -%}
    <li>
      {%- for tag in article.tags -%}
      <span style="font-weight: 900">{{ tag }}&nbsp;</span>
      {%- endfor -%}
      <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a> 
      {% if article.author %} by {{ article.author }} {% endif %}
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endfor -%}

  {% for category in site.articles.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <strong>{{ post.categories }}</strong> | 
        {%- for tag in  post.tags  -%}
          &nbsp;{{ tag }} |
        {%- endfor -%}
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</article>
{% if site.baseurl == "/ghp" or site.url == 'http://localhost:4000'  %} 
<section class="footer"> 
  <h2>Debug variables: </h2> 
  <ul>
    <li>| absolute_url {{ '/' | absolute_url }} </li> 
    <li>| relative_url {{ '/' | relative_url }} </li> 
    <li>site.url {{ site.url }} </li> 
    <li>site.baseurl {{ site.baseurl }} </li> 
    <li>page.title {{ page.title }} </li> 
    <li>page.url {{ page.url}} </li> 
    <li>github_username: {{ github_username }}</li>
    <li>site.github_username: {{ site.github_username }}</li>
  </ul> 
  <pre>
    site: {{ site | jsonify | escape }}
    page: {{ page | jsonify | escape }}
    layout: {{ layout | jsonify | escape }}
    content: {{ content | jsonify | escape }}
    paginator: {{ paginator | jsonify | escape }}
  </pre>

</section> 
{% endif %}
